# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#Node
node_modules
dist

#Backend
target
*.log

# ENV / Secrets
.env
backend/src/main/resources/
application.properties

# OS Junk
.DS_Store
Thumbs.db

# Optional 
.postman/
*.jpeg

dist-ssr
*.local
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
